<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <a href="">
                        <span class="logofake">Logo</span>
                        <span class="logoposition">Lorem ipsum dolor sit amet</span>
                    </a>
                </div>
                <nav class="menu-wrap">
                    <ul class="menu">
                        <li class="menu_item">
                            <a class="menu_item_link" href="#">lorem link</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_item_link" href="#">ipsum link</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_item_link" href="#">sit link</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_item_link" href="#">augue link</a>
                        </li>
                        <li class="menu_item">
                            <a class="menu_item_link" href="#">estas link</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="section-item">
                    <div class="section-item_wrap">
                        <div class="section-item_photo">
                            <span>215x 315px</span>
                        </div>
                        <div class="section-item_description">
                            <span>image caption here</span>
                        </div>
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-item_wrap">
                        <div class="section-item_photo">
                            <span>215x 315px</span>
                        </div>
                        <div class="section-item_description">
                            <span>image caption here</span>
                        </div>
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-item_wrap">
                        <div class="section-item_photo">
                            <span>215x 315px</span>
                        </div>
                        <div class="section-item_description">
                            <span>image caption here</span>
                        </div>
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-item_wrap">
                        <div class="section-item_photo">
                            <span>215x 315px</span>
                        </div>
                        <div class="section-item_description">
                            <span>image caption here</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="section_description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>
            </div>
        </div>
    </section>
    <div class="container">
            <div class="row content">
                <main class="main">
                    <div class="main_item row">
                        <div class="main_item_photo_wrap">
                            <div class="main_item_photo">
                                <span>180 x 150px</span>
                            </div>
                        </div>
                        <div class="main_item_description">
                            <h2>Lorem Lorem Lorem</h2>
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">Link to website</a> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <a class="main_item_description_link" href="">Read More >></a>
                        </div>
                    </div>
                    <div class="main_item row">
                        <div class="main_item_photo_wrap">
                            <div class="main_item_photo">
                                <span>180 x 150px</span>
                            </div>
                        </div>
                        <div class="main_item_description">
                            <h2>Lorem Lorem Lorem</h2>
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">Link to website</a> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <a class="main_item_description_link" href="">Read More >></a>
                        </div>
                    </div>
                    <div class="main_item row">
                        <div class="main_item_photo_wrap">
                            <div class="main_item_photo">
                                <span>180 x 150px</span>
                            </div>
                        </div>
                        <div class="main_item_description">
                            <h2>Lorem Lorem Lorem</h2>
                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">Link to website</a> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                            <a class="main_item_description_link" href="">Read More >></a>
                        </div>
                    </div>
                </main>
                <aside class="aside">
                    <h2 class="aside_title">categories</h2>
                    <ul>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                        <li class="aside_list_item"><a class="aside_list_item_link" href="">Category Name</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="copyright"><span>Copyright &#169; 2018 - All Rights Reserved - Domane Name</span></div>
                    <div class="template"><span>Template by SA FE</span></div>
                </div>
            </div>
        </footer>
</body>

</html>