<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Some Web Page</title>
    <link rel="stylesheet" href="first-attempt.css"/>
  </head>
  <body>
      
    <div class="menu-container">         
            <img src="https://lh3.googleusercontent.com/ArB_3rMT5h0Ndj-N5aMNikunS1tYItBIUnC370WYx6OHbQ0yAzveFVQWFukiAQmccihhJ1HBj8XEyk8mCVmfUJwI-rrLflzMuvT4bg=w320" style="float:left;height:80px;width:80px;">                                    
          <div class="menu"> 
              <a href="https://internetingishard.com/html-and-css/flexbox/" target="_blank">Lorem Link</a>
              <a href="https://internetingishard.com/html-and-css/flexbox/" target="_blank">Ipsum Link</a>
              <a href="https://internetingishard.com/html-and-css/flexbox/" target="_blank">Sit Link</a>
              <a href="https://internetingishard.com/html-and-css/flexbox/" target="_blank">Augue Link</a>
              <a href="https://internetingishard.com/html-and-css/flexbox/" target="_blank">Estas Link</a>
          </div>  
    </div>
    <div class='header-container'>
        <div class='header'>
            <div class="fakeimage"style="height:315px; width: 215px">215px 315px</div>
            <div class="fakeimage"style="height:315px; width: 215px">215px 315px</div>
            <div class="fakeimage"style="height:315px; width: 215px">215px 315px</div>
            <div class="fakeimage"style="height:315px; width: 215px">215px 315px</div>
        </div>
      </div>
      <div class="first">
          <p>Sunt in culpa qui officia deserunt mollit anim id est
                  laborum consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco.
            Sunt in culpa qui officia deserunt mollit anim id est
                  laborum consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco.   
          </p>
         </br>
          <p style="border-bottom: solid grey"></p>   
        </br>
      </div>
      <div class="row">
          <div class="leftcolumn">
            <div class="first">
                    <div class="fakeimage"style="height:150px; width: 180px">180 150px</div>
                    <div class="fakeimage"style="height:150px; width: 180px">180 150px</div>
                    <div class="fakeimage"style="height:150px; width: 180px">180 150px</div>
              </div>
              </div>
              <div class="centercolumn">
                  <div class="first">
                          <div>
                              <h3>INDONECTETUS FAHUFH HFUAFH</h3>
                              <p class="paragraf">ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                                  <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                                  <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                            </p>
                          </div>
                          <div>
                              <h3>INDONECTETUS FAHUFH HFUAFH</h3>
                              <p class="paragraf">ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                                  <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                              <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                            </p></br>
                          </div>
                          <div>
                              <h3>INDONECTETUS FAHUFH HFUAFH</h3>
                              <p class="paragraf">ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                                  <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a
                                  ahtala bahfa fafaf afafafafafa fafafa fafafafafa fa fa a.
                                  <a href="#https://internetingishard.com/html-and-css/flexbox/">Link to website.</a>
                            </p></br>
                          </div>
                    </div>
                    </div>
                <div class="rightcolumn">
            <div class="first">
              <h3>CATEGORIES</h3>
              <p style="border-bottom: solid grey"></p>
              <button>&#9662 Category name</button>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
              <div>&#9662 Category name</div>
              <p style="border-bottom: dotted grey"></p>
            </div>
            
          </div>
          </div>
          <footer>
              <div class="footer">
                  <p class="leftcolumn">Copyright &copy; 2018 - All Rights Reserved - Domain Name</p>
                  <p class="rightcolumn">Template by SA FE</p>
              </div>
            </div>
      </footer>
  </body>
</html>