body{
    margin:0 auto;
}
div.navigation{
    display: flex;
    /* justify-content: space-between; */
   justify-content: center;
    background-color: bisque;
}
nav{
    display: inline-block;
    /* flex-grow: 2; */
    padding: 2%;
    padding-left: 25%;
}
.logo{
    padding: 2%;
    height: 70px;
    width: 70px;
    /* flex-grow: 1; */
}
ul{
    list-style-type: none;
    text-align: center;
    background-color: burlywood;
    padding-left: 0%;
    /* display: flex; */
    /* padding: 2%; */
}
li{
    display: inline-block;
    font-size: 1em;
    margin: 10px;
}
a{
color: rgb(36, 36, 37);
text-decoration-line: none;
}
a:hover{
    color: rgb(11, 117, 34);
}
.headerLink{
    text-transform: uppercase;
    font-size: 10px;
}
.main1{
    margin: 0%;
    padding: 0px;
    clear: both;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    overflow: auto;
    }
/* .main{
    clear: both;    
    display: flex;
    flex-wrap: nowrap;
    margin: 5% 5%;
    padding: 0px;
    justify-content: space-around;
    align-items: center; */
}
.mainPic{
    margin: 0px;
    padding: 0px;
    /* flex-shrink: 2;
    height: 215px;
    width: 315px;
     */
}
.myFig{
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin: 10px;
    border: 0.5px solid gray;
    padding: 3px;
}
.mainDescription{
    clear: both;
    display: inline-block;
    height: auto;
    margin: 0px;
    text-align: center;
}
.empty2{
    width: 25%;
}
.empty1{
    width: 25%;
}
.textOnly{
    /* height: 15px; */
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
figcaption{
    text-align: center;
}
#someDescriptions{
    display: block;
    /* width: 60%; */
    clear: both;
    /* display: flex; */
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    overflow: auto;
    font: 1em sans-serif;
    background-color: pink;
    padding-right: 0px;
}
.main2{
    margin-bottom: 10px;
    padding: 0px;
    clear: both;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    overflow: auto;
    }
#categories{
    display: inline-block;
    width: 40%;
    text-align: left;
    font: 1em sans-serif;
    background-color: brown;
}
.placeItLeft{
    width: 30%;
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
}
.goRight{
    display: inline-block;
    font-size: 1em;
    margin: 0px auto;
    padding: 0px;
    padding-left: 5px;
}
h1, h2{
    margin: 0px;
    text-transform: uppercase;
}
h2{
    font-size: 1.2em;
}
.linkInDescriptions{
    color: orange;
}
.categoriesList{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1em;
}
.categoryArrow::before {
    content: "";
    width: 0; 
	height: 0; 
	border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right:3px solid transparent;
    border-left: 3px solid orange;
}

.categoryArrow{
    text-align: left;
}
    /*background-image: url('orrangeArrow.png');
    background-size: 10px 20px;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:""; */
    
/* .mainPictures{
    height: 215px;
    width: 315px;
} */