h1 {
	font-size: 50px;
	font-weight: bold;
	color: red;
	font-size: 50px;
	font-weight: bolder;
	color: yellow;
}
 [href] {
          color: brown;
      }

      [href="http://www.imdb.com"] {
          color: green;
      }

      [href*=".org"] {
          color: skyblue;
      }
