/*body, html {
    height: 100%;
    width: 100%;
    font-size: 0;
    margin: 100%;
}

.div1 {
    position: absolute;
    left: 0%;
    right: 25%;
    top: 0%;
    bottom: 100%;
    background-color: blue;
}

.div2 {
    position: absolute;
    left: 25%;
    right: 75%;
    top: 0%;
    bottom: 100%;
    background-color: red;
}

.div3 {
    position: absolute;
    left: 75%;
    right: 100%;
    top: 0%;
    bottom: 100%;
    background-color: green;

}

.textbox {
    position: relative;
    border: blue 2px;
    width: 300px;
    height: 300px;
}*/

.base {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;

}

.base>.item {
    flex-grow: 0;
    flex-basis: 200px;
    color: blue;
    background-color: red;
}

.base>.big {
    flex-grow: 2;
    flex-basis: 50%;
    color: brown;
    background-color: yellow;
}